extends layout

block content

  h1 Connected to #{title} Wejay room
  
  div(layout='row')

    md-list
      each user in room.activeUsers
        md-item 
          md-item-content
            .md-tile-left
              img.face(width="50", src='https://graph.facebook.com/' + user.id + '/picture')
            .md-tile-content
              h3=user.name
              p=moment(user.lastPlayDate).calendar()

    md-list
      each song in room.queue
        md-item
          md-item-content
            .md-tile-left
              img.face(width="50", src='https://graph.facebook.com/' + song.user.id + '/picture')
            .md-tile-content
              h3=JSON.stringify(song.spotifyId)
              p=song.user.name
